@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif Georgian", serif;
}

body {
  background-color: green;
}

.card-style {
  width: 450px !important;
  border-radius: 20px;
}

.number-card {
  font-size: 200px;
}

.pinta {
  font-size: 80px;
}

.rotate {
  transform: rotate(3.142rad);
}
